<div class="col-md-4 offset-md-4">
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="text-center">Add a new Star</h2>
      <div class="d-flex"></div>
      <div class="card-text mt-4">
        <form (ngSubmit)="addStar()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              type="text"
              [(ngModel)]="star.name"
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Birth Year</label
            >
            <input
              [(ngModel)]="star.birthYear"
              name="birthYear"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
