<nav class="navbar navbar-dark navbar-expand-lg bg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/movie">FabFlix</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="/movie">Movie List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="/_dashboard">Dashboard</a>
        </li>
      </ul>
      <div class="d-flex me-2 text-white">
        <a class="nav-link active mx-2" href="#" routerLink="/login">Login</a>
        <a class="nav-link active" href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
