<div class="container-fluid bg-img">
  <div class="row" *ngIf="!isLoggedIn">
    <div class="col-md-4 offset-md-4">
      <h2 class="mt-5 text-center">Please Login to Continue!!</h2>
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex">
            <h3 class="card-title text-center m-auto">
              <div>Login</div>
            </h3>
          </div>
          <div class="card-text mt-4">
            <form (ngSubmit)="login(form)" #form="ngForm">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  name="email"
                  [(ngModel)]="loginData.email"
                  required
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  name="password"
                  [(ngModel)]="loginData.password"
                  required
                />
              </div>
              <div class="mb-3">
                <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                </div></div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isLoggedIn">
    <div class="col-md-4 offset-md-4 mt-5">
      <h1 class="text-center mt-5">Welcome to Employee Dashboard</h1>
      <div class="d-flex justify-content-around mx-4">
        <button (click)="showAddMovieTab()" class="btn btn-success">
          Add Movie
        </button>
        <button (click)="showAddStarTab()" class="btn btn-success">
          Add Star
        </button>
        <button (click)="showDatabaseTab()" class="btn btn-success">
          Database Metadata
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="addStarPage">
    <app-add-star></app-add-star>
  </div>
  <div class="row" *ngIf="addMovieTab">
    <app-add-movie></app-add-movie>
  </div>
  <div class="row" *ngIf="databaseTab">
    <app-database></app-database>
  </div>
</div>
